
*, *::after, *::before {
    box-sizing:border-box;
}

:root {
    --font-header:'Montserrat', sans-serif;
    --font-body: Arial;
    /* --font-body:var(--font-header); */

    --header-height: 3rem;

    --color-main-l: #f7a9b2;
    --color-main-m: #e96363; 
    --color-main-d: #cc6461;

    --color-sub-l: #abbbe0;
    --color-sub-m: #6f81c0;
    --color-sub-d: #3b4087;

    --color-neutral-l: #f5e7e7;
    --color-neutral-m: #e6c7c7;
    --color-neutral-d: #927171;

    
    /* --color-main-rgb: 101,186,183;
    --color-main-hue: 178;
    --color-main-light: hsl(var(--color-main-hue), 52%, 77%);
    --color-main-medium: hsl(var(--color-main-hue), 38%, 56%);
    --color-main-dark: hsl(var(--color-main-hue), 57%, 27%); */
}


body {
    margin:0;
    font-family:var(--font-body);
}

a{
    color:var(--color-neutral-d);
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
}


h1{
    font-family:var(--font-header);
    color: var(--color-neutral-d);
}

h3{
    color: var(--color-main-d);
    display: block;
    margin-bottom: 0;
    font-size: 1em;
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-m);
    margin: 0.2em 0 0;
}
.line2{
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-m);
    margin: -1em 0 0;
}
p{
    margin: 0.5rem 0;
}



/* ==== APP STRUCTURE ==== */
.ui-loader {
    display:none;
}
[data-role="page"] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
}
[data-role="page"].ui-page-active {
    display:flex;
    flex-direction:column;
}

[data-role="main"] {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;
    z-index:1;
}

/* ==================== */

[data-role="header"],
[data-role="footer"] {
    line-height: var(--header-height);
    height: var(--header-height);
    position:relative;
    overflow:hidden;
    background-color:white;
    box-shadow: 0 0 5px rgba(144, 144, 144, 0.2);

    z-index:2;
}



/* [data-role="header"],
[data-role="footer"] {
    line-height: var(--header-height);
    height: var(--header-height);
    position:relative;
    overflow:hidden;
    background-color:white;

}
[data-role="header"]:last-of-type,
[data-role="footer"]:first-of-type {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index:2;
}
[data-role="header"]:not(:last-of-type),
[data-role="footer"]:not(:first-of-type) {
    z-index:3;
} */





[data-role="footer"] {
    height: 3.5rem;
}



/* ==== Core Navigation ==== */
[data-role="header"] ul,
[data-role="footer"] ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:100%;
    position:relative;
}
[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
}


[data-role="header"] h1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    text-align:center;
    font-size: 1em;
    margin:0;
}

[data-role="header"] a {
    padding: 0 1em;
}
[data-role="header"] a,
[data-role="footer"] a {
    display:block;
}



/* ==== Basic layout tools ==== */

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}

.flex-none { flex:none; }
.flex-stretch { flex: 1 1 auto; }

.flex-column { flex-direction:column; }

.overscroll {overflow: auto;}

.hidden{display: none;}

.padded{ padding: 1em;}
.full{height: 100%;}




/* ==== FORM  - Module 5 OCT 03 ==== */
.form-control{
    margin: 1em 0;
}

#edit-form,
#profile-edit-form,
#pattern-edit-form,
#onboarding-edit-form{
    padding: 0em 1.5em;
}


.form-label{
    font-size: 0.8em;
    color: var(--color-main-d);
    display: block;
    margin-bottom: 0.5em;
}


.form-input{
    background: transparent;
    border-width: 1px;
    border-color: var(--color-neutral-m);
    border-style: solid;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
}

input::placeholder{
    font-size: 0.8em;
    color: var(--color-neutral-m);
}



.edit-input::placeholder{
    font-size: initial;
    color: initial;
}

.add-input,
.add-input::placeholder{
    font-size: 1em;
    
} 

textarea::placeholder{
    color:var(--color-neutral-m);
}

.form-button{
    background: var(--color-main-m);
    border-width: 0;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
    text-align: center;
    color: #fff;
    /* color: inherit; */
    
}
.form-button:hover{
    text-decoration: none;
}

#signin-form,
#signup-form{
    padding: 1em;
}
.signin-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /*  */
    margin-bottom: 2em;
}

.hero-logo{
    width: 32vw;
    aspect-ratio: 1 / 1;
}

.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/map.png);
    background-position: center;
    background-size: cover;
}



/* === FLOATER === */

.floater{ position: absolute; }
.floater.top{ top: 1rem; }
.floater.right{ right: 1rem; }
.floater.bottom{ bottom: 1rem; }
.floater.left{ left: 1rem; }

.btn-circle{
    border-radius: 2rem;
    line-height: 3rem;
    font-size: 2.5em;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: #fff;
    display: block;
    color: var(--color-main-m);
    /* box-shadow: 0.1em 0.1em 1rem rgba(0,0,0,0.2); */
    box-shadow: 0.1em 0.1em 1rem rgba(144, 144, 134, 0.2);
  
}


/* === MODAL === */

.modal{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active{
    opacity: 1;
    pointer-events: initial;
}
.modal-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}


.modal-back.transparent{
    background-color: transparent;
}


.modal-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.modal.active .modal-popup{
    transform: translate(-50%, -50%);
}

.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.island {
    box-shadow: initial;
}
.modal-drawer.island .modal-body {
    margin:1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:1em;

}

.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}


.modal-head,
.modal-foot{
    background-color: var(--color-main-l);
    padding: 0.5em 1em;
}

.modal-body{
    background-color: #fff;
    padding: 1em;
    flex: 1 1 100%;
    overflow: auto;
}






 
/* === PATTERN LIST === */

.patternlist,
.pattern-add-cotent,
.pattern-profile-cotent,
.user-profile-content,
.user-add-cotent,
.user-edit-page{
    height: 100%;
    position: relative;
    overflow: auto;
    padding: 1em;
}

.user-add-cotent{
    padding: 0.5em 1em;
}

.patternlist-item{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.item-box{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 0.5em;
   
}
.item-box a{
    width: 45%;
}

.item-box img{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    border-radius: 1.5em;
}

/* === POLKA DOT PAGE === */

#pattern-polkadot-page img{
    border-radius: 8%;
}


/* === PATTERN PROFILE LIST === */

.location-img{
    width: 100%;
    height: 25vh;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../images/map_small.png);
    background-position: center;
    background-size: cover;
}

.pattern-img{
    width: 85%;
    height: 40vh;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../images/polkadot.png);
    background-position: center;
    background-size: cover;
    border-radius: 2em;

}



/* === PATTERN PROFILE EDIT === */

#edit-form,
#profile-edit-form,
#pattern-edit-form,
#onboarding-edit-form{
    width: 96%;
    margin: 0 auto;
}
.edit-content{
    width: 85%;
    margin: 0 auto;
}

.edit-content>div{
     margin: 1.5em 0;
}

.form-control h3{
    margin: 1.2em 0 0.4em 0;
}


/* .pattern-profile-top{
    position: relative;
}  */



/* === PATTERN ADD EDIT === */

/* .add-img{
    width: 85%;
    height: 32vh;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-neutral-l);
    background-position: center;
    background-size: cover;

} */

.add-img{
    width: 85%;
    height: 32vh;
    margin: 0 auto;
    margin-top: 0.2em;
    background-color: var(--color-neutral-l);
    /* background-position: center;
    background-size: cover; */
    text-align: center;
    line-height: 32vh;
    font-size: 5rem;
    color: var(--color-neutral-d);
    
}



/* 
.pattern-add-cotent,
.pattern-profile-cotent,
.pattern-add-cotent{
    height: 100%;
    overflow: auto;

} */




/* === USER PROFEIL PAGE === */
.save-profile{
    background: transparent;
    border-width: 0;
    border-radius: 0.2em;
    padding-right: 1em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: var(--color-neutral-d)
    /* color: inherit; */
    
}


.profile-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-neutral-l);
    background-image: url(../../images/profile.png);
    background-position: center;
    background-size: cover;
}




[data-role="footer"] .icon {
    width: 1.3rem;
    /* height: 1.5rem; */
    vertical-align: bottom; /* middle */
}

[data-role="footer"] a {
    line-height: 1rem;
    color:var(--color-main-m); /* inherit */

}

.footer-icon{
    display: block;
    line-height: 1.9rem; /* 1.7rem; */
}

.footer-label {
    line-height: 1.3rem;
    font-size: 0.6rem;
    display: block;
}

/*check!!*/
.user-profile-more div { /*popup*/
    margin-top: 1em;
}
.user-profile-more div a{
    font-size: 1em;
}
/*check!!*/

.user-img-container{
    background-color: var(--color-main-m);
    padding: 1em 0 0.3em 0;
}
.user-profile-cotent .edit-content>div{
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
}

.user-profile-cotent .edit-content>div img{
    width: 1em; 
    margin-right: 0.4em;
}




/* === onboarding === */

#onboarding-page{
    background-color: var(--color-main-m);
    text-align: center;
}

.onboarding h1{
    color: #fff;
    margin-bottom: 2em;
}
.onboarding a{
    background: #fff;
    padding: 1em 3em;
    border-radius: 30px;
    margin: 0.3em;  
}


/*  ====== MODULE 08 ====== */

/* patternlist new design */

.patternlist{
    display: flex;
    flex-wrap: wrap;
}
.patternlist-item{
    width: 100%;
    /* flex: 1 1 50%; */
    margin-bottom: 1em;
}

.patternlist-item img{
    width: 90%;
    height: 155px;
    margin-bottom: 0.5em;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
    vertical-align: text-bottom;
}

#pattern-profile-page [data-role="main"]{
    display: flex;
    flex-direction: column;
}

.pattern-profile-top{ /*pattern img*/
    height: 25vh;
    flex: none;
    background-position: center;
    background-size: cover;
}
.pattern-profile-nav{
    flex: none;
    line-height: var(--header-height);
    display: flex;
    
}
.nav-link{
    flex: 1 1 50%;
    text-align: center;
}
.pattern-profile-bottom{
    position: relative;
    flex: 1 1 100%;
}

.nav-link.active {
    background-color:var(--color-neutral-l);
}
.pattern-profile-bottom {
    position:relative;
    flex: 1 1 100%;
}
.pattern-profile-section {
    /* position:absolute;
    top:0;
    left:0; */
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;
    opacity:0;
    pointer-events: none;
    transition:all 0.3s;
}
.pattern-profile-section.active {
    opacity:1;
    pointer-events: initial;
}

.pattern-img-small{
    width: 50%;
    height: 100%;
  
}

.pattern-img-small div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}



/* part.js line 50  sytle for "makePatternMapDescription" */

.pattern-map-description {
    display:flex;
}
.pattern-map-image img{
    width:80px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    object-fit:cover;
}
.pattern-map-body {
    padding: 1em;
}
.pattern-map-body h1 {
    margin:0;
}


.user-profile-image img{
    width: 100%;
    object-fit:cover;
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    padding: 4em;
}
.user-profile-body{
    /* padding: 2em; */
    padding: 0 2em 2em;
}
.user-profile-name{
    font-weight: 1.5em;
}

.body{
    height: 100%;
}

#user-edit-photo-page .body{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* .icon{
    font-size: 1em;
    width: 1em;
    height: 1em;
} */


.settings {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.settings li {
    padding: 0.5em 1em;

}
.settings li~li {
    border-top: 1px solid var(--color-neutral-lighter);
}


/* Search bar - list page */

#list-page header {
    display:flex;
}
.hotdog {
    margin: 15px auto;
    line-height:var(--header-height);
    background-color: #f8f1f1;
    border-radius: var(--header-height);
    width: 88%;
    display: flex;
}
.hotdog input {
    width:100%;
    height:100%;
    background-color: unset;
    border: unset;
    outline: unset;
    padding: 9px; 
    margin: unset; 
    vertical-align: middle;
    font: inherit;
}




.thumbnail {
    position:relative;
    display:inline-block;
    width: 95%;
    height: 34vh;
    border-radius:0.6em;
    border:0.5em solid white;
    vertical-align:middle;
    box-shadow:0 0.15em 0.35em 0.1em rgba(0,0,0,0.2);
    margin:0.5em;
    
    background-position:center;
    background-size:cover;
  }
/* This will hide the file input */
.imagepicker input {
    display:none;
  }
  .imagepicker {
    cursor:pointer;
    color:white;
    background-color:rgba(0,0,0,0.3);
  }
  /* This will add the floating plus symbol to the imagepicker */
  .imagepicker:before {
    content:'+';
    position:absolute;
    font-size:3em;
    vertical-align:middle;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  /* This will hide the plus symbol behind the background of the imagepicker if the class "picked" is added to the element */
  .imagepicker.picked:before {
    z-index:-1;
  }


.filter-bar {
    display:flex;
    padding-inline: 1.5em;
    gap: 1em;
    overflow:auto;
    color: #927171;
    margin-bottom: 0.7em;
}
.filter-bar span {
    font-weight:bold;
    padding: 0.5em 0;
}